<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <context:component-scan base-package="com.yalunwang.soundsystem"></context:component-scan>
       <!-- 读取属性文件 -->
       <context:property-placeholder ignore-unresolvable="true" local-override="true" location="classpath:db.properties" />
       <bean id="cdPlayer" class="com.yalunwang.soundsystem.CdPlayer" >
              <property name="jdbcurl" value="${jdbc.url}" />
              <property name="username" value="${jdbc.username}" />
              <property name="password" value="${jdbc.password}" />
       </bean>


</beans>